@use "../bootstrap/scss/bootstrap.scss";


.projects{
    .card{


        &:hover{
            box-shadow: 0 1rem 3rem rgb(0 0 0 / 25%);
        }
    }
}


.hero{
    height: 100vh;
    .container{
        padding-top: 100px !important;
    }
}