
#main-header{
    background-color: rgb(161, 250, 250);
}
span{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.box{

    background-color: rgb(247, 245, 243);
    border-radius: 5%;
    width:195px;
    height:195px; 
    float:left;
    margin:10px 10px 10px 10px;
}


button:hover{
    font-weight: bolder;
    background-color: black;
    color:white;
}
.box:hover{
    transform: scale(1.1);
}