<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Sign up Form</h1>

    <form action="/signup/submit" method="POST">
        <input type="email" name="email" placeholder="Your E-Mail" value="a@a.com">
        <input type="password" name="password" placeholder="Your Password" value="123">
        <button type="submit">Submit Survey From</button>
    </form>

</body>
</html>