* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
      background: white;
      color:navy;

  }
  
  #container {
    margin: auto;
    background-color: white;
  }
  
  #main {
    max-width: 100%;
    margin: auto;
    height: 650px;
    background-color: white;

  }
 
  .about {
    max-width: 97%;
    margin: auto;
    height: 170px;
    border-radius: 10px;
  }
  
  h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: black;
  }
  
  h3 {
      letter-spacing: 1px;
      margin-bottom: 10px;
      color: black;
  }
  .about p {
    letter-spacing: 0.5px;
    color:navy;
  }
  
  ul.a {
    list-style-type: circle;
    color:maroon;
  }
  
  ul.b {
    list-style-type: square;
    color:orangered;
  }