.srinivas h2 {
    color: #111;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 2px 2px 2px #CCCCCC;
}

.srinivas h3 {
    font-size: 20px;
    color: black;
}

.srinivas p {
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6625;
    /* margin-bottom: 2px; */
}

.c1 {
    text-align: left;
    width: 15%;
}

.srinivas img {
    width: 15%;
    background-color: red white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

.sr {
    text-align: center;
    margin-top: 15px;
    border: 100px;
}

.srH1 {
    background-color: rgb(245, 240, 166);
    border: 100px;
}

div.sribook {
    width: 110px;
    background-color: rgb(231, 228, 214);
    float: left
}

div.cont1 {
    text-align: center;
    padding: 0;
}

.srinivas img {
    width: 90px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book {
    display: flex;
    margin-left: 23px;
    background-color: rgb(248, 248, 242);
    border-radius: 10px;
    border: 2px solid rgb(248, 230, 230);
    width: 440px;
    height: 160px;
}

.book .cont {
    max-width: 75%;
}

.textbook {
    display: inline;
    height: 25px;
    width: 100%;
}

#h3ofbook {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}